affine==2.3.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
bokeh==1.3.4
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1589409885623/work
descartes==1.1.0
entrypoints==0.3
et-xmlfile==1.0.1
Fiona==1.8.6
GDAL==2.4.4
geographiclib==1.50
geopandas==0.7.0
geopy==1.20.0
idna==2.8
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1588362967322/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1589548914243/work
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
libpysal==4.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.6
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1588887226267/work
numexpr==2.7.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1588605083040/work
olefile==0.46
openpyxl==3.0.1
osmnet==0.1.5
packaging==20.1
palettable==3.3.0
pandana==0.4.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycairo==1.19.0
Pygments==2.7.4
pyparsing==2.4.7
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1588596070165/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
pysal==2.1.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1589392299544/work
QtPy==1.9.0
rasterio==1.1.3
requests==2.22.0
Rtree==0.9.4
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1589375529043/work
scipy==1.4.1
seaborn==0.10.1
segregation==1.2.0
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.0
six==1.14.0
snuggs==1.4.7
soupsieve==1.9.5
statsmodels==0.11.1
tables==3.6.1
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.0.0
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1588513834538/work
traitlets==4.3.3
urbanaccess==0.2.0
urllib3==1.25.6
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
zipp==3.1.0
